.work-details-card {
    /* flex-basis: 22rem; */
    width: 22rem;
    /* background: #172A45; */
    /* background-color: #78C800; */
    background-color: #fff;
    /* background-color: #649711; */
    /* color: #fff; */
    color: #000;
    height: 500px;
    transition: 0.5s ease;
    cursor: pointer;
    box-shadow: 2px 4px 10px #00000096;
}

.work-details-card:hover {
    transform: translateY(10px) !important;
}

.work-card-imgBox {
    /* height: 400px !important; */
    overflow: hidden;
}

.work-card-imgBox img {
    height: 200px !important;
    width: 100%;
    border-radius: 5px;
    /* box-shadow: 1px 1px 10px gray; */
    transition: 0.3s ease;
}
.work-card-imgBox img:hover{
    transform: scale(1.08);
    box-shadow: 1px 1px 10px gray;
}
.btn-colorful{
    background: #A1DB45;
    padding: 5px 30px;
    transition: all 500ms;
}
.btn-colorful:hover{
    color: #fff;
    background: #a2db45b6;
}
